extends layout
block content
  .ui.page.grid
    .row
      .column
        .ui.segment.blue.inverted.bottom.attached
          h1.header RIGOR
          p Efficient algorithm for segmenting images.
    .row
      .column
        .ui.action.input.fluid
          input.fluid#url(type="text" placeholder="Enter a url or an image ID from the PASCAL VOC dataset")
          #load.ui.button.blue.disabled load
    .row.equal.height
      .eleven.wide.column
        .ui.segment
          #imagewrap
            img#image(src='down.png')
            canvas#segments
            canvas#ui
      #options-pane.five.wide.column
        h4.ui.segment.top.attached.header.blue.inverted Options
        #options.ui.segment.attached.middle
          +options
        h4.ui.segment.middle.attached.header.blue.inverted Status
        #status.ui.segment.attached.bottom
          +status
    .row
      .column
        #segments-panel
    .row
      .column
        h4.ui.top.attached.header.black.inverted console
        #log.ui.segment.attached.inverted
block css
  != css('//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css')
  != css('app')
block scripts
  != js('//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js')
  != js('app')
mixin options
  for option, key in options
    if option.type == 'boolean'
      .ui.button= option.name
    else if option.type == 'choice'
      h5.ui.header= option.name
      .ui.buttons.fluid.mini.equal.height(class=Object.keys(option.choices).length, option=key)
        for choice, key in option.choices
          .ui.toggle.button.middle.aligned(choice=key)= choice
mixin status
  h5.ui.header Workers
  table#workers.ui.table
