mixin libcss(file)
  link(rel='stylesheet', href='/css/lib/'+file)

doctype html
head
  meta(charset='utf-8')
  title Rigor - Image Segmentation
  meta(name='description', content='Rigor - Efficient image segmentation algorithm using graph cuts')
  meta(name='author', content='Ajmal Kunnummal')
  //- Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/css/semantic.css')
  block css

body
  block content

  != js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/javascript/semantic.min.js')
  script(src='/socket.io/socket.io.js')
  != js('bower_components/underscore/underscore-min.js')

  block scripts
