*
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box

body
  margin: 0 5%

#imagewrap
  position: relative
  text-align: center

#image
  opacity: .6
  z-index: 0
  height: 20em

#segments, #ui
  position: absolute
  left: 0
  top: 0
  z-index: 1

#log
  height: 20em
  word-wrap: break-word
  overflow: scroll
  white-space: pre

#options
  // height: 300px

#segments-panel
  // height: 150px
  background-color: #6ECFF5
  border-radius: 5px
  margin:0px
  // overflow-y: scroll
  
.ui.equal.height
  display: table
  
.ui.equal.height > .ui.button
  display: table-cell
  float: none
  
.thumb
  display:block
  background-color: #fff
  margin: 8px
  text-align: center
  border: solid 2px #3A9FC7
  border-radius: 5px
  
.thumb:hover
  border: solid 2px #E33D80
  
.thumb.active
  border: solid 2px green
    
.thumbdiv
  text-align: center
  
.slick-prev::before, .slick-next::before
  color: black
  
